{
  "openapi": "3.0.4",
  "info": {
    "title": "UKVD - VehicleDetailsWithImage (Minimal)",
    "version": "1.0.0",
    "description": "Minimal OpenAPI spec for integrating UK Vehicle Data Global /r2/lookup into a booking flow. Server-side only."
  },
  "servers": [
    {
      "url": "https://uk.api.vehicledataglobal.com"
    }
  ],
  "paths": {
    "/r2/lookup": {
      "get": {
        "operationId": "PerformLookup",
        "summary": "Lookup vehicle details (VRM/VIN/UVC/UKVDID)",
        "parameters": [
          {
            "name": "ApiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PackageName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vrm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "UkvdId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Uvc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UkvdLookupResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UkvdLookupResponse": {
        "type": "object",
        "properties": {
          "ResponseInformation": {
            "type": "object",
            "properties": {
              "StatusCode": {
                "type": "integer"
              },
              "StatusMessage": {
                "type": "string"
              },
              "IsSuccessStatusCode": {
                "type": "boolean"
              },
              "QueryTimeMs": {
                "type": "integer"
              },
              "ResponseId": {
                "type": "string"
              }
            }
          },
          "Results": {
            "type": "object",
            "properties": {
              "VehicleDetails": {
                "type": "object",
                "properties": {
                  "VehicleIdentification": {
                    "type": "object",
                    "properties": {
                      "Vrm": {
                        "type": "string"
                      },
                      "Vin": {
                        "type": "string"
                      },
                      "DvlaMake": {
                        "type": "string"
                      },
                      "DvlaModel": {
                        "type": "string"
                      },
                      "YearOfManufacture": {
                        "type": "integer"
                      },
                      "DateFirstRegistered": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              },
              "ModelDetails": {
                "type": "object",
                "properties": {
                  "ModelIdentification": {
                    "type": "object",
                    "properties": {
                      "Make": {
                        "type": "string"
                      },
                      "Range": {
                        "type": "string"
                      },
                      "Model": {
                        "type": "string"
                      },
                      "Series": {
                        "type": "string"
                      },
                      "StartDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "EndDate": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  },
                  "BodyDetails": {
                    "type": "object",
                    "properties": {
                      "BodyStyle": {
                        "type": "string"
                      },
                      "NumberOfDoors": {
                        "type": "integer"
                      },
                      "NumberOfSeats": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "VehicleImageDetails": {
                "type": "object",
                "properties": {
                  "VehicleImageList": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ViewAngle": {
                          "type": "string"
                        },
                        "ImageUrl": {
                          "type": "string"
                        },
                        "ExpiryDate": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}